storage/app/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.key
bootstrap/cache/*
.phpunit.result.cache
.php-cs-fixer.cache
README.md
npm-debug.log
yarn-error.log
.github
.git
.idea
.vscode
**.env*
**.editorconfig
**.gitattributes
**.gitignore